.App {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute; }

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white; }

.App-intro {
  font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

h1, h2, p {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 300px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: justify;
  text-justify: inter-word; }

h2 {
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  line-height: 32px;
  margin: 0 0 72px; }

p {
  color: #685206;
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 24px;
  letter-spacing: 1px; }

.background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #C9D6FF;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #E2E2E2, #C9D6FF);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #E2E2E2, #C9D6FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
